ProgettiNetbeans/CentralinoWebServicesClient1/src/conf/xml-resources/web-service-references/WebServicesClient1/wsdl/localhost_8080/ViabilitywebServices/WebServicesClient1.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="addActivity" type="tns:addActivity"/>

<xs:element name="addActivityResponse" type="tns:addActivityResponse"/>

<xs:complexType name="addActivity">
<xs:sequence>
<xs:element name="Activity" type="tns:activity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activity">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="listsignal" type="tns:segnalazione" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="segnalazione">
<xs:sequence>
<xs:element name="officeID" type="xs:string" minOccurs="0"/>
<xs:element name="streetID" type="xs:long"/>
<xs:element name="streetStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addActivityResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>